html {
    height: 100%;
    /*padding: 0;*/
    /*margin: 0;*/
    /*background: url("/resources/images/0.jpg") no-repeat center fixed;*/
    /*-webkit-background-size: cover; !* pour anciens Chrome et Safari *!*/
    /*background-size: cover; !* version standardisée *!*/
}

body{
    background-color: transparent;
    padding-top: 70px;
}